.discount{
    padding: 10rem 0;
    .discount-wraper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        .discount-card1{
            width: 50%;
            height: 378px;
            background:url('../../assets/img/discount-background\ \(1\).png')center center no-repeat;
        display: flex;
        align-items: center;
            .heading {
                width: 60%;
                padding-left: 4rem;
            
                    .mini-heading-text {
                        color: white;
                        font-size: 2.25rem;
                    }
                    .main-heading-text{
                        color:white;
                        font-weight: 400;
                        font-size: 2.5rem;
                        line-height: 3.25rem;
                            letter-spacing: 0.0225rem;
                    }
                }
           }
           
           }
        }
        .discount-card2{
            width: 50%;
              height: 378px;
              background-repeat: no-repeat;
              background:url('../../assets/img/discount-background\ \(2\).png')center center no-repeat;
                display: flex;
                align-items: center;
                .heading{
                    width:60%;
                    padding-left: 4rem;

                .mini-heading-text{
                    color:var(--secondary-color);
                    font-size: 2.25rem;
                    font-weight: 400;
                }
                .main-heading-text{
                    font-size: 2.5rem;
                    line-height: 3.25rem;
                    letter-spacing: 0.0225rem;
                    
                }
            }
        }
    

