#hidden{
    display: none;
}
#block{
    display: block;
}
.content {
    margin-top: 10rem; /* Adjust the margin to match the height of the fixed navbar */
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3rem 0;
        .nav-left{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15rem;
            .nav-link{
                display: flex;
                gap: 5rem;
                font-size: 1.9rem;
                li{
                    color: var(--primary-color);
                    &:hover{
                        color: var(--secondary-color);
                    }
                }
            }
            .nav-links{
                display: flex;
                flex-direction: column;
                padding-top: 20rem;
                padding-left: 35%;
                font-size: 1.9rem;
                padding-bottom: 5rem;
                position: absolute;
                width: 100%;
                right: 0;
                background-color: var(--primary-color);
                opacity: 0.7;
                display: none;
                li{
                    margin-bottom: 2rem;
                }
                h1{
                    align-self: end;
                    padding-left: 8rem;
                    position: absolute;
                    bottom: 0;
                    right: 1rem;
                }
                li{
                    color: white;
                    &:hover{
                        color: var(--secondary-color);
                    }
                }
            }
        }
        .nav-right{
            font-size: 1.7rem;
            display: flex;
            align-items: center;
            gap:1rem;
            h1{
               display: none; 
            }
            .nav-cart{
                padding: 1rem;
                border: 1px solid var(--ordinary-text-color);
                border-radius: 3.3rem;
                p{
                    display: flex;
                    gap: 1.9rem;
                    span{
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
}
@media(max-width: 960px){
    header{
        .navbar{
            .nav-left{
                gap: 5rem;
                .nav-link{
                    gap: 2rem;
                }
            }
        }
    }
}
@media(max-width: 800px){
    header{
        .navbar{
            .nav-left{
                gap: 1rem;
                .nav-link{
                    gap: 2rem;
                    display: none;
                }
            }
            .nav-right{
                h1{
                    display: block;
                }
            }
        }
    }
}
