.product{
    padding: 10rem 0;
    .container{
        .product-title{
            text-align: center;
            padding-bottom: 5rem;
        }
        .product-cards{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 5rem;
            .product-card{
                padding: 3rem;
                background-color: var(--third-color);
                border-radius: 3rem;
                .category{
                    h3{
                        background-color: var(--primary-color);
                        display: inline-block;
                        padding: 1rem 2rem;
                        border-radius: 8px;
                        color: white;
                        font-size: 1.5rem;
                        font-family: var(--ordinary-text-font-family);
                    }
                }
                .product-card-text{
                    h2{
                        font-size: 2.2rem;
                        font-weight: 300;
                        color: var(--primary-color);
                        padding: 1rem 0;
                        border-bottom: 2px solid rgba(224, 224, 224, 1);
                    }
                    .price{
                        padding: 2rem 0;
                        p{
                            display: flex;
                            justify-content: space-between;
                            del{
                              color: rgba(184, 184, 184, 1);  
                            }
                            .price-text{
                                font-weight: 700;
                                font-size: 2rem;
                                color: var(--primary-color);
                            }
                            .stars{
                                font-size: 1.9rem;
                                color: rgba(255, 168, 88, 1);
                            }
                        }
                    }
                }

            }
        }
    }
}

@media (max-width: 995px) {
    #product-cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }
}
